.blog-hero-img {
  background: url(/../images/blog/mobile.jpg) no-repeat center center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 43.75em) {
  .blog-hero-img {
    background: url(/../images/blog/tablet.jpg) no-repeat center center;
  }
}

@media (min-width: 56.25em) {
  .blog-hero-img {
    background: url(/../images/blog/fullHD.jpg) no-repeat center center;
  }

  .blog-wrapper {
    grid-template-areas: 'content aside';
  }
}

.blog-wrapper {
  display: grid;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1000px;
  grid-template-areas: 'aside''content';
  grid-gap: 50px;

  .content-wrapper {
    grid-area: content;
  }

  aside {
    grid-area: aside;
  }

}

aside {
  display: grid;
  grid-template-areas: 'archives elsewhere';

  .archive-wrapper {
    grid-area: archives;
  }
  .elsewhere-wrapper {
    grid-area: elsewhere;
  }
}

@media (min-width: 56.25em) {
  .blog-hero-img {
    background: url(/../images/blog/fullHD.jpg) no-repeat center center;
  }

  .blog-wrapper {
    grid-template-areas: 'content aside';
  }

  aside {
    grid-template-areas: 'archives' 'elsewhere';
  }
}






