////////////////////////////
//Fancy Form
////////////////////////////

.fancy-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: $body-bg;
  border-radius: 30px ;

  box-shadow: $boxShadow;

  .form-fieldset {
    border: none;
  }

  .form-card {
    padding: 5px;
  }

  .form-element {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .form-element-bar {
    position: relative;
    height: 1px;
    background: $teal;
    display: block;
  }

  .form-element-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $teal;
    height: 2px;
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.28s ease;
    will-change: transform;
  }

  .form-element-label {
    position: absolute;
    top: 0.75rem;
    line-height: 1.5rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    font-size: 1rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: $teal;
    transform: translateY(-50%);
    transform-origin: left center;
    transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
    will-change: transform, color, opacity;
  }

  .form-element-hint{
    color: $light-blue;
  }

  .form-element-field {
    outline: none;
    height: 1.5rem;
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border: 0 solid transparent;
    line-height: 1.5;
    width: 100%;
    color: #333;
    box-shadow: none;
    opacity: 0.001;
    transition: opacity 0.28s ease;
    will-change: opacity;
  }

  .form-element-field:-ms-input-placeholder {
    color: $teal;
    transform: scale(0.9);
    transform-origin: left top;
  }

  .form-element-field::placeholder {
    color: $teal;
    transform: scale(0.9);
    transform-origin: left top;
  }

  .form-element-field:focus ~ .form-element-bar::after {
    transform: rotateY(0deg);
  }

  .form-element-field:focus ~ .form-element-label {
    color: $teal;
  }

  .form-element-field.-hasvalue,
  .form-element-field:focus {
    opacity: 1;
  }

  .form-element-field.-hasvalue ~ .form-element-label,
  .form-element-field:focus ~ .form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
  }

}