body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  max-width: 1920px;
}

* {
  box-sizing: border-box;
  max-width: 1920px;
}

@media (min-width: 43.75em) {
  html {
    margin: 0 auto;
  }
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 1920px;
}

i {
  height: 48px;
  width: 42px;
}

.unstyled {
  ol, li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $blue;
  }
}