body {
  padding-bottom: 3rem;
  background: white;
}

form {
}

#app {
  min-height: 80vh;
}



.bg-dark,
.btn-dark {
  background-color: $teal !important;
}

.invalid-feedback {
  display: block !important;
}


@media screen and (max-width: 800px) {
  .m-margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}