
  .item-left {
    .date{
      font-size: 1.5em;
      font-weight: lighter;
    }
  }

  .item-middle {
    grid-area: middle;
  }

  .item-right {
    grid-area: end;
    display: grid;
    align-items: center;
    grid-gap: 10px;
    justify-content: center;

  }


@media (min-width: 576px) {
   .item-middle {
     border-left: 1px solid lightgray;
   }

}