@media only screen and (min-width: 621px) {
  nav {
    padding: 5px 0;
    width: 100%;
    background-color: $light-gray;

    ul {
      margin: 0px;
      padding: 0;
      list-style: none;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      justify-items: center;

      a {
        text-decoration: none;
        color: $blue;
      }
    }

    * {
      box-sizing: inherit;
      transition-property: all;
      transition-duration: .6s;
      transition-timing-function: ease;
    }

    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5em 1em;
    }
    #menu-toggle {
      display: none;
    }

    .nav-icon a {
      height: 100%;
      display: flex;
      align-items: center;

      svg {
        height: 90%;
      }
    }
    #menu-toggle, #trigger, #burger {
      display: none
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      text-align: center;
      width: 100%;
    }

    .nav-btn {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 1em 0;
      text-align: center;
      width: 112px;
    }

    .btn {
      line-height: 25px;
      max-width: 160px;
      position: relative;
      letter-spacing: 0;

      &:hover {
        text-decoration: none;
      }
    }

    .btn:hover,
    .btn:active {
      letter-spacing: 5px;
    }

    .btn:after,
    .btn:before {
      backface-visibility: hidden;
      border: 1px solid rgba($blue, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }

    .btn:hover:after,
    .btn:hover:before {
      backface-visibility: hidden;
      border-color: $blue;
      transition: width 350ms ease-in-out;
      width: 70%;
    }

    .btn:hover:before {
      bottom: auto;
      top: 0;
      width: 70%;
    }
  }
}