// Body
$body-bg: #f8fafc;

// Colors
$blue: #02173E;
$teal: #13A399;
$red: #BF112E;
$yellow: #F5941C;
$orange: #F16541;
$light-blue: #02173e38;
$light-gray: #b3b3b3b0;
//shadow
$boxShadow: 3px 3px 8px #b3b3b3;


/*$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$green: #38c172;
$cyan: #6cb2eb;*/
