.hero-section-wrapper{
  background: url(/../images/hero-img-fullHD.jpg) no-repeat center center;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {

  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-bottom{
  box-shadow: $boxShadow;
  padding: 1em;
  background-color: white;
}

.article-wrapper {
  height: 100vh;
}