// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: white;
}

form{

}

#app {
  min-height: 80vh;
}

@import "welcome";
@import "floating-label";


.bg-dark, .btn-dark {
  background-color:$teal !important;
}

.invalid-feedback {
  display: block !important;
}

@import "floating-label";
@import "grid";