// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: white;
}

form{
  padding-top: 3rem;
}

@import "welcome";
@import "floating-label";


.bg-dark, .btn-dark {
  background-color:$teal !important;
}
